<!--<nz-layout class="right-control">-->
  <!--<nz-header class="header-wrapper">-->
    <!--<app-header></app-header>-->
  <!--</nz-header>-->
  <!--<nz-content class="list-wrapper">-->

  <!--</nz-content>-->
  <!--&lt;!&ndash;<div class="quick-add-wrapper" [class.center]="todoList.todos.length === 0">&ndash;&gt;-->
    <!--&lt;!&ndash;<app-quick-add (add)="add($event)"></app-quick-add>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</nz-layout>-->

<nz-header>
  <app-header></app-header>
</nz-header>
<nz-content>
  Content
</nz-content>
<nz-footer>
  Footer
</nz-footer>
