.right-control {
  position: relative;
  height: 100%;
}
.header-wrapper {
  height: 180px;
  padding: 0;
  background-color: white;
}

.list-wrapper {
  overflow: scroll;
}

.quick-add-wrapper {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 400px;
  transform: translate3d(-50%, 0, 0);
  transition: 0.2s ease all;
}










:host {
  text-align: center;
}

nz-header,
nz-footer {
  background: #7dbcea;
  color: #fff;
}

nz-footer {
  line-height: 1.5;
}

/*nz-sider {*/
  /*background: #3ba0e9;*/
  /*color: #fff;*/
  /*line-height: 120px;*/
/*}*/


nz-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 720px;
  line-height: 720px;
  /*min-height: 100%;*/
  /*line-height: 100%;*/
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout:last-child {
  margin: 0;
}

