<nz-layout class="full-screen">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="260">
    <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
  </nz-sider>
  <nz-content class="container">
    <app-content></app-content>
  </nz-content>
</nz-layout>
<router-outlet></router-outlet>

<!--<nz-layout>-->
  <!--<nz-sider>-->
    <!--<app-sidebar></app-sidebar>-->
  <!--</nz-sider>-->
  <!--<nz-layout>-->
    <!--<nz-header>-->
      <!--<app-header></app-header>-->
    <!--</nz-header>-->
    <!--<nz-content>-->
      <!--<app-default><router-outlet></router-outlet></app-default>-->
    <!--</nz-content>-->
    <!--<nz-footer>-->
      <!--footer-->
    <!--</nz-footer>-->
  <!--</nz-layout>-->
<!--</nz-layout>-->
