:host {
  text-align: center;
}

nz-header,
nz-footer {
  background: #7dbcea;
  color: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #3ba0e9;
  color: #fff;
  /*line-height: 120px;*/
  line-height: 100%;
}

/*nz-content {*/
  /*background: rgba(16, 142, 233, 1);*/
  /*color: #fff;*/
  /*min-height: 920px;*/
  /*line-height: 920px;*/
  /*!*height: 100%;*!*/
/*}*/

nz-layout {
  margin-bottom: 0px;
}

nz-layout:last-child {
  margin: 0;
}

